.d1{
    background-color:red; 
    width:300px; 
    height:300px; 
    position:relative; 
    top:10px; 
    left:80px; 
    z-index:2
}
.d2{
    background-color:yellow; 
    width:300px; 
    height:300px; 
    position:relative; 
    top:-60px; 
    left:35px; 
    z-index:4;
}